.switcher_preload_images 
{
	position: absolute; 
	top: -99999px; 
	left: -99999px;
}
.style-switcher
{ 
	border: 1px solid #3E484E; 
	background: #4b5b62; 
	width: 182px; 
	position: fixed; 
	top: 42px; 
	z-index: 1002; 
	left: -184px;
	font-size: 12px; 
	line-height: 12px; 
	text-transform: uppercase; 
	color: #dbdee0; 
	border-radius: 0px 0px 3px 0px; 
	-moz-border-radius: 0px 0px 3px 0px; 
	-webkit-border-radius: 0px 0px 3px 0px; 
	box-shadow: rgb(44, 57, 63) -5px 10px 30px; 
	-moz-box-shadow: rgb(44, 57, 63) -5px 10px 30px; 
	-webkit-box-shadow: rgb(44, 57, 63) -5px 10px 30px; 
}
.style-switcher.active
{ 
	left: 0; 
}
.style-switcher .header
{ 
	background: #36444a; 
	padding: 0 10px; 
	line-height: 40px; 
	color: #dbdee0; 
	border-bottom: 1px solid #252C30;
	padding-top: 1px;
}
.style-switcher .header span
{
	border-left: 1px solid #36444a; 
	background: #36444a; 
	display: block; 
	margin-top: -1px; 
	height: 43px; 
	width: 42px; 
	position: absolute; 
	right: -42px; 
	top: 0; 
	font-size: 20px; 
	line-height: 39px; 
	text-align: center; 
	border-radius: 0 6px 6px 0; 
	-moz-border-radius: 0 6px 6px 0; 
	-wegbkit-border-radius: 0 6px 6px 0; 
	box-shadow: rgb(73, 87, 94) -5px 6px 15px; 
	-moz-box-shadow: rgb(73, 87, 94) -5px 6px 15px; 
	-webkit-box-shadow: rgb(73, 87, 94) -5px 6px 15px; 
	cursor: pointer; 
}
.style-switcher .header span i
{ 
	margin-top: 10px; 
	margin-right: 2px; 
}
.style-switcher .header span:hover
{
	background: #4b5b62;
}
.style-switcher .header span:hover .rotate_block
{ 
	box-shadow: -1px 0px 20px #707F86  inset; 
	-moz-box-shadow: -1px 0px 20px #707F86  inset; 
	-webkit-box-shadow: -1px 0px 20px #707F86  inset;
}
.style-switcher .block
{ 
	width: 100%; 
	padding: 10px; 
	border-bottom: 1px solid #5d6c72; 
	border-top: 1px solid #45545b; 
	box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box;
}
.style-switcher .block:first-child
{ 
	border-top: 0; 
}
.style-switcher .block:last-child
{ 
	border-bottom: 0; 
}
.style-switcher .block-title
{ 
	margin-bottom: 8px; 
	text-shadow: 1px 1px 0 #39454a;
	-moz-text-shadow: 1px 1px 0 #39454a;
	-webkit-text-shadow: 1px 1px 0 #39454a;
}
.style-switcher .color_block
{ 
	border-radius: 2px; 
	-moz-border-radius: 2px;  
	-webkit-border-radius: 2px; 
	display: inline-block;
	width: 23px; 
	height: 23px; 
	border: 1px solid black; 
	vertical-align:top;
	*display:inline;
	zoom:1;
}
.style-switcher .options a
{ 
	text-align: center; 
	color: #fdfdfd; 
	display: inline-block; 
	background: #252d31; 
	text-transform: none; 
	border: 1px solid #252d31; 
	margin: 0 6px 6px 0; 
	padding: 0 10px; 
	line-height: 25px; 
	text-decoration: none; 
	box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	border-radius: 2px; -
	moz-border-radius: 2px;  
	-webkit-border-radius: 2px;  
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	-moz-text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	vertical-align:top;
	*display:inline;
	zoom:1;
}
.style-switcher .options a:hover
{ 
	background: #364247; 
}
.style-switcher .options a.active
{ 
	background: #00acf5; 
	border: 1px solid #0078ab; 
}
.style-switcher .options .options
{ 
	overflow: hidden; 
}
.style-switcher .options a.color
{ 
	padding: 0;
}
.style-switcher .options a.color:hover
{ 
	border: 1px solid #000; 
	-webkit-filter: saturate(1.7);
	box-shadow: 0px 1px 4px #36444a;
	-moz-box-shadow: 0px 1px 4px #36444a;
	-webkit-box-shadow: 0px 1px 4px #36444a;
}
.style-switcher .options a.color.active, .style-switcher .active .color_block
{ 
	border: 1px solid #fff;
}
.style-switcher .active .color_block 
{
	border-radius: 0; 
	-moz-border-radius: 0;  
	-webkit-border-radius: 0; 
}
.style-switcher .buttons
{
	text-align: center; 
}
.style-switcher .buttons .reset
{
	box-sizing: border-box; 
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box; 
	width: 100%; 
	background: transparent; 
	border-radius: 2px; 
	color: #fdfdfd; 
	display: inline-block; 
	border: 1px solid #fdfdfd;
	padding: 0 10px; 
	line-height: 25px; 
	text-decoration: none; 
}
.style-switcher .buttons .reset:hover
{ 
	background: #364247; 
}
.style-switcher .buttons .reset .icon
{ 
	margin-left: 5px; 
}
.style-switcher .header span:hover .rotate_block 
{
	border-left: 1px solid #252C30;
}
.style-switcher .rotate_block 
{
	position: relative;
	width: 41px;
	height: 42px; 
	border-left: 1px solid #252C30;
	border-radius: 0 6px 6px 0; 
	-moz-border-radius: 0 6px 6px 0; 
	-wegbkit-border-radius: 0 6px 6px 0;
}
.style-switcher .rotate_block .img_big
 {
	background: url(images/gear_big.png) center no-repeat; 
	width: 20px; 
	height: 20px; 
	display: inline-block; 
	position: absolute; 
	top: 5px; 
	left: 9px;
}
.style-switcher .rotate_block .img_small
 {
	 background: url(images/gear_small.png) center no-repeat; 
	 width: 13px; 
	 height: 13px; 
	 display: inline-block; 
	 position: absolute; 
	 top: -4px; 
	 left: 22px;
 }
.style-switcher a, .style-switcher .header span.switch
{
	-webkit-transition: all ease-out 0.2s;
	-moz-transition: all ease-out 0.2s;
	-o-transition: all ease-out 0.2s;
	transition: all ease-out 0.2s;
}
.style-switcher .options[name="BANNER_WIDTH"] a[name="NARROW"], .style-switcher .options[name="BANNER_WIDTH"] a[name="AVERAGE"], .style-switcher .options[name="HEAD"] a[name="TYPE_1"], .style-switcher .options[name="HEAD"] a[name="TYPE_2"], .style-switcher .options[name="BASKET"] a[name="NORMAL"], .style-switcher .options[name="BASKET"] a[name="FLY"]
{
	width: 73px;
}
.style-switcher .options[name="BANNER_WIDTH"] a[name="AUTO"], .style-switcher .block .buttons .reset
{
	width: 155px;
} 
.style-switcher .options[name="COLOR_THEME"] a
{
	margin-right: 11px;
}
@media (max-width:410px) 
{
	.style-switcher
	{
		display:none;
	}
}

