ul.menu li b.space, .breadcrumbs .drop b.space {left:14%; top: 24px;}

/* Блок разделы на главной */
.wrapper_inner .tabs.main_section_list span{
	font-family: "elektra_text_proregular",Arial,Helvetica,sans-serif;
	text-transform: uppercase;
}

.wrapper_inner .tabs.main_section_list {
	padding: 5px 0 10px 0;
}

.catalog_block.main_section_list {
	width: 1000px;
}
.catalog_block.main_section_list .catalog_item_wrapp {
	width: 199px;
	padding-bottom: 16px;
}

.catalog_block.main_section_list .catalog_item{
	margin-right: 15px;
	height: 184px !important;
}

.catalog_item .section-title {
	position: absolute;
	top: 1px;
	padding: 5px;

	background: rgba(255, 255, 255, 0.75);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	line-height: 26px;
	display: inline-block;
	padding: 0 8px;
}

.catalog_item:hover .section-title {
	top: 0px;
}

.catalog_item .section-title a {
	font-family: "elektra_text_proregular", Arial, Helvetica, sans-serif;
	text-decoration: none;
	line-height: 19px;
	font-size: 14px;
	color: #333;
}

.catalog_item:hover .section-title a,
.catalog_item .section-title a:hover {
	color: #333;
	border-bottom: 1px solid #b4b4b4;
}

.catalog_item .section-price a {
	color: #000;
	background: #ffffff;
	border-style: solid;
	border-radius: 3px;
	border-width: 1px;
	border-color: #d1d1d1;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	height: 24px;
	line-height: 26px;
	display: inline-block;
	font-family: "elektra_text_proregular", Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding: 0 8px;
	margin: 8px 8px;
	text-decoration: none;
	white-space: nowrap;
}

.catalog_item .section-price {
	position: absolute;
	bottom: 1px;
}

.catalog_item:hover .section-price {
	bottom: 0px;
}

@font-face {
	font-family: rouble;
	src: url("../fonts/rubsn.otf") format("opentype");
}
.price-rouble {
	font-family: rouble;
}
.price-rouble::after {
	content: "\22";
}
/* Конец блока разделы на главной */
.sl_info_block {
	background: #ECECEC;
	max-width: 80%;
	min-width: 293px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.sl_info_block .top, .sl_info_block .center, .sl_info_block .bottom {
	padding: 5px 10px;
}
.sl_info_block .top {
	border-bottom: 1px solid #E4DFD9;
}
.sl_info_block .center {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #E4DFD9;
}
.sl_info_block .bottom {
	border-top: 1px solid #fff;
	padding-top: 5px;
}

.sl_info_block .delivery_type {
	padding: 0 10px 0 0;
	vertical-align: top;
}

.sl_info_block table {
    margin-bottom: 5px;
}

#ORDER_PROP_20 + .bx_description {
	font-weight: normal;
	width: 100%;
}

#footer .footer_inner .line_grey {
	background: #e7e7e7 none repeat scroll 0 0;
	padding: 1px 0;
}

.usp-item {
	box-sizing: border-box;
	margin-bottom: 15px;
	min-height: 60px;
	display: inline-block;
	width: 49%;
	vertical-align: top;
}

.usp-item .usp-item__image {
	display: block;
	float: left;
	margin-bottom: 6px;
	height: 60px;
	width: 60px;
}

.usp-item .usp-item__title {
	color: #222;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 4px;
	padding-left: 70px;
	/* padding-top: 10px; */
}

.usp-item .usp-item__subtitle {
	color: #222;
	font-size: 13px;
	line-height: 18px;
	padding-left: 70px;
}

.footer_inner .top_slider_wrapp .flexslider,
.footer_inner .top_slider_wrapp .flexslider .slides > li,
.top_slider_wrapp .flexslider .slides > li td {
	height: 195px;
}

.footer_inner .top_slider_wrapp .flexslider {
	margin: 0px;
	overflow: hidden;
}

.footer_inner .top_slider_wrapp .flex-direction-nav li {
	top: 68px;
}

@media (max-width: 768px)
{
	.main_section_list,
	.tabs.main_section_list {
		display: none;
	}
}

@media (max-width: 600px)
{
	.sl_info_block 	{
		display: none;
	}
}