.hiddenblock {
	display: none;
}
#catalog-item-opinions .data {
  list-style: outside none none;
  padding-left: 0;
}
#catalog-item-opinions .row {
  border-bottom: 1px solid #ddd;
  margin: 5px 0 0;
  padding: 2px 0;
}
#catalog-item-opinions .block-first {
  margin-top: 3px;
  overflow: hidden;
}
#catalog-item-opinions .block-first div {
  float: left;
}
#catalog-item-opinions .grade {
  background: url("images/catalog.png") no-repeat scroll 0 -43px transparent;
  float: left;
  height: 18px;
  margin: 0;
  padding: 0;
  width: 16px;
}
#catalog-item-opinions .grade.no {
  background-position: 0 -63px;
}
#catalog-item-opinions .block-first .grade-title, #catalog-item-opinions .block-first .period {
  margin-left: 7px;
  padding-top: 3px;
}
#catalog-item-opinions .block-first .period {
	float: right;
}
#catalog-item-opinions .block-first .period-label {
  color: #555555;
  margin-left: 60px;
  padding-top: 3px;
  float: right;
}
#catalog-item-opinions ul li:before {
    content: none;
}
#catalog-item-opinions ul li {
    font-size: 12px;
}
#catalog-item-opinions .block-text {
  margin: 10px 0 15px;
}
#catalog-item-opinions .block-text .label {
  color: #361d59;
  font-weight: bold;
  margin: 0;
}
#catalog-item-opinions .block-text .text, #catalog-item-opinions .block-text .text span {
  color: #000;
  font-family: Verdana;
  line-height: 20.1px;
  margin-top: 5px;
  text-align: justify;
}
#catalog-item-opinions .block-text .text {
  font-size: 12px;
}
#catalog-item-opinions ul li .block-last {
  color: #777;
  font-size: 11px;
  overflow: hidden;
}
#catalog-item-opinions ul li .block-last span{
  font-size: 11px;
}
#catalog-item-opinions .block-last {
  margin: 5px 0;
}
#catalog-item-opinions .block-last span {
  padding-left: 5px;
}
#catalog-item-opinions .block-last span {
  padding-left: 5px;
}
#catalog-item-opinions ul li .block-last span.date {
    float: right;
}
.yandex_market_reviews_store .actions .simple {
  background-color: #faebde;
  border-radius: 3px;
  color: #ff6b00;
  cursor: pointer;
  float: left;
  font-size: 13px;
  font-weight: bold;
  margin: 0 7px 0 0;
  padding: 4px 7px;
}
.yandex_market_reviews_store .link {
	float: right;
	border-bottom: 1px dashed #baa5d7;
	color: #542791;
	font-size: 12px;
	text-decoration: none;
	margin-top: 6px;
}
.yandex_market_reviews_store .load {
	margin-top: 4px;
}