<style>
.instal-bg
{
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}
.inst-templ-color-name
{
	font-size: 13px !important;
}
.inst-template-color
{
	margin: 0 5px 15px 0 !important;
}
.installer-block-cell-right
{
	text-align: justify !important;
}
</style>