<style>
.solution-inner-item
{
	border-top: 1px solid #e5e5e5;
	padding-top: 30px;
	margin-top: 30px;
}
.solution-inner-item:first-child
{
	margin-top: 0;
}
.solution-inner-item h4
{
	display: inline-block;
	margin: 0 0px 5px 8px;
}
.solution-inner-item h4 + p
{
	margin: 0 0 0 30px;
	font-size: 14px;
}
.instal-load-block .instal-load-label
{
	font-size: 14px;
}
.inst-left-side-img-cell img
{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.instal-bg
{
	-webkit-transition: background-color ease-out 0.5s;	
	-moz-transition: background-color  ease-out 0.5s;	
	-o-transition: background-color  ease-out 0.5s;	
	transition: background-color  ease-out 0.5s;
}
.inst-templ-color-name
{
	font-size: 13px !important;
}
.inst-template-color
{
	margin: 0 5px 15px 0 !important;
}
.installer-block-cell-right
{
	text-align: justify !important;
}
.inst-template-description .inst-template-list-label p
{
	font-size: 14px;
	font-weight: normal;
}
</style>