<style>
	.tires_options .adm-info-message
	{
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		margin: 15px 0 5px !important;
	}
	.marker-winter, .marker-summer, .marker-all-seasons
	{
		background: url('/bitrix/images/aspro.tires/icon_types.png') no-repeat;
		display: inline-block;
		width: 20px;
		height: 20px;
	}
	.marker-winter
	{
		background-position: 0 0px;
	}
	.marker-summer
	{
		background-position: 0 -20px;
	}
	.marker-all-seasons
	{
		background-position: 0 -60px;
	}
	#buttons-panel
	{
		margin: 5px 0px 10px;
		position: relative;
		zoom: 1;
	}
	#drag-n-drop
	{
		font-size: 11px;
		display: inline-block;
		margin-left: 15px;
		font-weight: bold;
	}
	#drag-n-drop, .b-button 
	{
		border-radius: 20px;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		-o-border-radius: 20px;
	}
	.b-button 
	{
		max-width: 600px;
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		color: #3f4b54;
		display: inline-block;
		*display: inline;
		*zoom: 1;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		padding: 20px 30px;
		vertical-align: middle;
		border: 3px dashed;
		border-color: #dce7ed;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
		background: #fff;
		box-shadow: 0px 10px 20px #c4ced2;
		-moz-box-shadow: 0px 10px 20px #c4ced2;
		-o-box-shadow: 0px 10px 20px #c4ced2;
		-webkit-box-shadow: 0px 10px 20px #c4ced2;
		-moz-transition: all .4s ease;
		-o-transition: all .4s ease;
		-webkit-transition: all .4s ease;
	}
	.b-button:hover
	{
		border-color: #c4ced2;
	}
	.b-button_hover 
	{
		border-color: #c4ced2;
	}
	.b-button__text
	{
		line-height: 18px;
		margin-bottom: 15px;
	}
	.b-button__input 
	{
		cursor: pointer;
		opacity: 0;
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
		top: -10px;
		right: -40px;
		font-size: 50px;
		position: absolute;
	}
	#preview 
	{
		max-width: 600px;
		box-shadow: 0 1px 3px rgba(0,0,0,.4);
		border-radius: 3px;
	}
	.b-file:first-child
	{
		margin-top: 15px;
	}
	.b-file 
	{
		height: 46px;
		padding: 5px;
		position: relative;
		overflow: hidden;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		-webkit-border-radius: 3px;
		background-color: #fcfcfc;
		background: -webkit-linear-gradient(top, #fcfcfc 0%, #f6f6f6 100%);
		background: -moz-linear-gradient(top, #fcfcfc 0%, #f6f6f6 100%);
		background: -o-linear-gradient(top, #fcfcfc 0%, #f6f6f6 100%);
		background: linear-gradient(to bottom, #fcfcfc 0%, #f6f6f6 100%);
		clear: both;
	}
	.b-file__left 
	{
		float: left;
		margin: 1px 0 0 2px;
		line-height: 0;
	}
	.b-file__left_border 
	{
		border: 2px solid #fff;
		border-radius: 4px;
	}
	.b-file__right
	{
		margin-left: 45px;
	}
	.b-file__name 
	{
		color: #36c;
		cursor: pointer;
		border-bottom: 1px dotted #36c;
		text-decoration: none;
	}
	.b-file__name:hover 
	{
		color: #f00;
		border-bottom-color: #f00;
	}
	.b-file__info 
	{
		color: #666;
		position: absolute;
		font-size: 12px;
		margin-top: 3px;
	}
	.b-file__bar 
	{
		padding-top: 4px;
	}
	.b-file__error 
	{
		color: #c00;
	}
	.b-file__error font
	{
		display: none;
	}
	.b-file__done 
	{
		color: #458383;
	}
	.b-file__abort 
	{
		top: 10px;
		right: 20px;
		width: 15px;
		height: 15px;
		position: absolute;
		color: #c00;
		cursor: pointer;
		font-size: 20px;
		display: none;
	}
	.b-file_upload .b-file__abort 
	{ 
		display: block; 
	}
	.b-progress 
	{
		width: 200px;
		height: 10px;
		border: 2px solid #E2E4E2;
		border-radius: 10px;
		box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
		background-color: #d3d3d3;
		position: relative;
	}
	.b-progress__bar 
	{
		width: 0;
		height: 10px;
		border-radius: 10px;
		background-color: #2D9DD7;
		background: -webkit-linear-gradient(top, #2D9DD7 0%, #1C81C7 100%); /* FF3.6+ */
		background: -moz-linear-gradient(top, #2D9DD7 0%, #1C81C7 100%); /* FF3.6+ */
		background: linear-gradient(to bottom, #2D9DD7 0%, #1C81C7 100%); /* FF3.6+ */
		-webkit-transition: width .5s ease-out;
		-moz-transition: width .5s ease-out;
		-ms-transition: width .5s ease-out;
		transition: width .5s ease-out;
	}
	.b-dropzone, .b-dropzone__bg 
	{
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 30000;
		position: absolute;
	}
	#drop-zone 
	{
		opacity: .8;
		background-color: #fff;
	}
	.b-dropzone__txt 
	{
		color: #536066;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		width: 100%;
		margin-top: 57px;
		z-index: 30001;
		position: absolute;
	}
	.b-layer 
	{
		border: 3px solid #fff;
		border-radius: 5px;
		box-shadow: 0 1px 30px #000;
		background-color: #f3f3f3;
		top: 50px;
		left: 50%;
		z-index: 30002;
		position: absolute;
		margin-left: -150px;
		margin-bottom: 100px;
	}
	.b-layer__h1 
	{
		color: #fff;
		padding: 10px 10px;
		width: 300px;
		overflow: hidden;
		background-color: #2D9DD7;
	}
	.b-layer__img 
	{
		padding: 5px 10px;
		text-align: center;
		border-top: 2px solid #fff;
	}
	.b-layer__info 
	{
		padding: 2px 15px;
		border-top: 2px solid #fff;
	}

	.b-layer__info div
	{
		width: 280px;
		overflow: hidden;
		white-space: nowrap;
	}
	.examples 
	{
		left: 0;
		right: 0;
		bottom: 0;
		position: fixed;
		box-shadow: 0 0 5px rgba(0,0,0,.65);
		background-color: #fff;
	}
	.examples__inner 
	{
		padding: 5px 10px;
	}	
</style>